
.mainNav{
    overflow:hidden;
    background-color: white;
}
.mainNav a {
    float: right;
    display: block;
    color: black; 
    text-align: right;
    text-decoration: none;

}
.mainNav a:hover {
    background-color: cornflowerblue;
    color: black;
}
.jumboCopy {
    background-color: white;
    text-align: left;
    padding: 20px;
}
#logo {
    float: left;
    height: 50px;
    margin-right: 10px;
  }
#mainPic {
    height: 500px;
    width: 100%;
  }

#footerImage {
    background-image: url("images/rowofhouses.jpg");
    background-repeat: repeat-x;
    height:  50%;
    width: 50%;
  }
  