/* Small screens */
@media only screen and (max-width: 600px) {
  /* Add styles for small screens here */
  .text-box h1{
    font-size: 20px;
  }
  .mainNav {display: block;
  }
  .HVIO-container-form {position:absolute}
  /* Add styles for small screens here */
}

/* Medium screens */
@media only screen and (min-width: 600px) and (max-width: 900px) {
  /* Add styles for medium screens here */
}

/* Large screens */
@media only screen and (min-width: 900px) {
  /* Add styles for large screens here */

}
.mainNav{
    overflow:hidden;
    background-color: white;
}
.mainNav a {
    float: right;
    display: block;
    color: black; 
    text-align: right;
    text-decoration: none;

}
.mainNav a:hover {
    background-color: cornflowerblue;
    color: black;
}
.jumboCopy {
    background-color: white;
    text-align: left;
    padding: 20px;

}
#logo {
    float: left;
    height: 50px;
    margin-right: 10px;
}
#mainPic {
    height: 500px;
    width: 100%;
}
.HVIO-container-form{
    display:flex ;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 8px solid #E23333;
    border-radius: 50px;
}
label{
font-size: 20px;
margin-bottom: 10px;
}
input[type=text]{
padding:10px;
font-size:18px;
border-radius: 20px;
border: 10px; 
color: blueviolet;
margin: bottom 10px;
}
button{
padding: 10px 20px;
font-size: 18px;
border-radius: 20px;
border: black;
background-color: #0077CC;
color:#fff;
cursor: pointer;
}

#divContent{
    width: 400px; 
    display: block; 
    margin: 0 auto; 
    border: 2px solid black; 
    text-align: center; 
}
#listEnd { width:400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom:5px;
    border: 1px; 
    border-color: black;
    text-align: center;
     line-height: 50px
    }

#data {
    opacity: 0.5;
    transition: opacity 1s;
}
  
.fadeIn {
    opacity: 1;
}
  
.fadeOut {
    opacity: 0;
}

#footerImage {
    background-image: url("images/rowofhouses.jpg");
    background-repeat: repeat-x;
    height:  50%;
    width: 50%;
    padding: 1rem,3rem 3rem 3rem;
    margin-top: 900px
}